/*BODY SECTION*/
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    section div{
        h1{
            font-family: 'Merriweather', serif;
            color: #fff;
            text-align: center;
            font-weight: 600;
        }
        h2{
            font-family: 'Merriweather', serif;
            color: #fff;
            text-align: center;
            font-size: 200;
            padding-bottom: 20px;
        } 
    }
}