/*FOOTER*/
footer{
    background-color: rgb(1, 1, 1);
    margin-top: auto;
    .copy-footer{
        text-align: center;
        color: white;
        height: 80px;
        padding-top: 35px;
        
    }
}
