@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/*HEADER SECTION*/
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(1, 1, 1);
    font-family:"Open Sans", sans-serif;
    #navbar-ul{
        display: inline;
        justify-content: flex-end;
    }
    #navbar-logo{
        height: 100px;
        width: 120px;
        margin-top: 5px;
        margin-left: 25px;
        margin-bottom: 5px;
    }
    nav ul li{
        display: inline;
        text-decoration: none;
        .nav-link a:hover{
            color: rgb(250, 150, 0);
        }
    }
}

